//
//  Orion.xcconfig
//  Orion
//
//  Created by Tyler Vick on 2/24/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = Orion
CODE_SIGN_ENTITLEMENTS = Orion.entitlements;
PRODUCT_BUNDLE_IDENTIFIER = com.tylervick.$(PRODUCT_NAME:rfc1034identifier)
INFOPLIST_FILE = Info.plist
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphone*] = *
EXCLUDED_SOURCE_FILE_NAMES[sdk=macosx*] = $(EXCLUDED_SOURCE_FILE_NAMES_$(WK_PLATFORM_NAME))
EXCLUDED_SOURCE_FILE_NAMES_maccatalyst = *
OTHER_LDFLAGS[sdk=macosx*] = $(inherited) -framework Cocoa -framework UniformTypeIdentifiers -framework WebKit
STRIP_STYLE = debugging;
